utpy/index.html
<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <meta charset="UTF-8">
    <title>Bien benidos</title>
    <link rel="stylesheet" href="css/materialize.min.css">
    <link rel="stylesheet" href="css/Style.css">
    <link rel="icon" href="img/favicon.png">
</head>
<body>
    <!-- empesando el nav-->
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper colornav">
              <a href="#!" class="brand-logo logo"><img src="img/logo.png"></a>
              <ul class="right hide-on-med-and-down lefnav">
                <li><a class="waves-effect" href="#!"><i class="mdi-action-home"></i></a></li>
                <li><a class="waves-effect" href="#!">UT</a></li>
                <li><a class="waves-effect" href="#!">Carreras</a></li>
                <li><a class="waves-effect" href="#!">Alumnos</a></li>
                <li><a class="waves-effect" href="#!">Eventos</a></li>
                <a class="waves-effect waves-yellow btn green accent-4">Login</a>
              </ul>
              <ul class="side-nav" id="mobile-demo">
            <li><a class="waves-effect" href="#!"><i class="mdi-action-home"></i></a></li>
                <li><a class="waves-effect" href="#!">UT</a></li>
                <li><a class="waves-effect" href="#!">Carreras</a></li>
                <li><a class="waves-effect" href="#!">Alumnos</a></li>
                <li><a class="waves-effect" href="#!">Eventos</a></li>
                <li><a class="waves-effect" href="#!">Extras</a></li>
              </ul>
               <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i>
              </a>
             </div>
        </nav>
    </div>
    <!-- Fin de la nav -->
     <!-- enpesando con el banner-->
      <div class="row grey lighten-4 baner">
        <div class="col s12 m12">
          <div class="container">

            <div class="row">
              <div class="col m12 s12 center green-text text-accent-4">
                <h1>Bienvenido a la pagina Oficial</h1>
                <h5>de la univercidad Tecnologica de la region norte de Guerrero</h5>
              </div>
            </div>

            <div class="row">
              <div class="col m12 s12 center white-text">
                <a class="btn-large orange waves-effect waves-light" href="#!">Ven a inscribirte con nosotros</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- fin del baner -->
    <!-- sub banner -->
    <div class="z-depth-1 z-index-10 subBaner triangulo_lateral">
      <div class="row">
        <h3 class="center-align green-text text-accent-4">Carreras</h3>
      </div>
    </div>
    <!-- fin del sub banner-->

    <!-- inicio de las carreras-->
      <div class="row">
        <div class="col offset-l1 l10 s12">
          <div class="col s12 m4">
            <img class="imgBaner imgCarreras responsive-img" src="img/android.png">
            <h2  class="center-align text-color-t">Ingenieria en TI</h2>
            <p class="text-color-p center-align">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae vel laudantium, voluptatem doloremque laboriosam necessitatibus soluta autem cumque, nesciunt harum laborum natus pariatur. Veniam quas eaque dolorum earum iste aspernatur.</p>
          </div>

          <div class="col s12 m4">
            <img class="imgBaner imgCarreras responsive-img" src="img/diseñoGrafico.png">
            <h2  class="center-align text-color-t">Ingenieria en Desarrollo</h2>
            <p class="text-color-p center-align">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet rem commodi suscipit harum modi perspiciatis nihil voluptate optio est necessitatibus sequi, eligendi rerum! Illo blanditiis eligendi voluptatum voluptatibus, fuga, deserunt?</p>
          </div>

          <div class="col s12 m4">
            <img class="imgBaner imgCarreras responsive-img" src="img/Web.png">
            <h2  class="center-align text-color-t">Ingenieria en Contaduria</h2>
            <p class="text-color-p center-align">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci et voluptate facilis quae tenetur recusandae soluta, voluptas minima optio laudantium laborum iusto atque esse, deleniti ullam praesentium modi aut suscipit.</p>
          </div>
        </div>
      </div>
    <!--fin de las carreras-->

    <!-- inicio del footer -->
        <footer class="page-footer green accent-4">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">UT es un univercidad</h5>
                <p class="grey-text text-lighten-4">Donde te brindamos la mejor educacion</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Sigenos</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Equipo 3
            <a class="grey-text text-lighten-4 right" href="#!">Mas</a>
            </div>
          </div>
        </footer>   

    <!-- Adjuntando los archivos JS -->
  <script src="js/jquery.min.js"></script>
  <script src="js/materialize.min.js"></script>
  <script>
  $( document ).ready(function(){
    $(".button-collapse").sideNav();
    $('.parallax').parallax();
    $('.modal-trigger').leanModal();
    $('#modal1').closeModal();
    $('.parallax').parallax();
  })
  </script>
</body>
</html>

utpy/templates/index.jade
doctype html
{% load staticfiles %}

{% load pipeline %}
html(lang='es')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0')
    |     
    meta(charset='UTF-8')
    |     
    link(type='text/css', rel='stylesheet', href="{% static 'css/materialize.min.css' %}")
    link(rel='stylesheet', type='text/css', href="{% static 'css/Style-index.css' %}")

    title Bien benidos   
    {% stylesheet 'main' %}
         
    link(rel='icon', href="{% static 'img/favicon-01.png' %}")
  body
    // empesando el nav
    .navbar-fixed
      nav
        .nav-wrapper.colornav
          a.brand-logo.logo(href='#!')
            img.logout(src="{% static 'img/logo-utpy.png' %}")
          |               
          ul.right.hide-on-med-and-down.lefnav
            li
              a.waves-effect(href='#!')
                i.mdi-action-home
            |                 
            li
              a.waves-effect(href='#!') UT
            |                 
            li
              a.waves-effect(href='#carreras') Carreras
            |                 
            li
              a.waves-effect(href='#!') Alumnos
            |                 
            li
              a.waves-effect(href='#!') Eventos
            |                 
            a.waves-effect.waves-yellow.btn.green.accent-4(href="{%url 'iniciar_sesion' %}") Login
          |               
          ul#mobile-demo.side-nav
            li
              a.waves-effect(href='#!')
                i.mdi-action-home
            |                 
            li
              a.waves-effect(href='#!') UT
            |                 
            li
              a.waves-effect(href='#carreras') Carreras
            |                 
            li
              a.waves-effect(href='#!') Alumnos
            |                 
            li
              a.waves-effect(href='#!') Eventos
            |                 
            a.waves-effect.waves-yellow.btn.green.accent-4(href="{%url 'iniciar_sesion' %}") Login
               
          |                
          a.button-collapse(href='#', data-activates='mobile-demo')
            i.mdi-navigation-menu
    // Fin de la nav
    // enpesando con el banner
    .parallax-container
      .parallax
       img.parallax-img(src="{% static 'img/baner.jpg' %}")
      .container
        .row
          .col.m12.s12.center.green-text.text-accent-4
             h1 Bienvenido a la pagina Oficial
             h5 de la univercidad Tecnologica de la region norte de Guerrero
        .row
           .col.m12.s12.center.white-text
            a.btn-large.orange.waves-effect.waves-light(href='#!') Ven a inscribirte con nosotros

    // fin del baner
    // sub banner
    .z-depth-1.z-index-10.subBaner.triangulo_lateral
      .row
        h3.center-align
          a.green-text.text-accent-4(href='#carreras') Carreras
    // fin del sub banner
    // inicio de las carreras
    #carreras
      .row
        .col.offset-l1.l10.s12
          .col.s12.m4
            img.imgBaner.imgCarreras.responsive-img(src="{% static 'img/tic.png' %}")
            |             
            h2.center-align.text-color-t Ingenieria en TI
            |             
            p.text-color-p.center-align
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae vel laudantium, voluptatem doloremque laboriosam necessitatibus soluta autem cumque, nesciunt harum laborum natus pariatur. Veniam quas eaque dolorum earum iste aspernatur.
          |           
          .col.s12.m4
            img.imgBaner.imgCarreras.responsive-img(src="{% static 'img/desarrollo.png' %}" )
            |             
            h2.center-align.text-color-t Ingenieria en Desarrollo
            |             
            p.text-color-p.center-align
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet rem commodi suscipit harum modi perspiciatis nihil voluptate optio est necessitatibus sequi, eligendi rerum! Illo blanditiis eligendi voluptatum voluptatibus, fuga, deserunt?
          |           
          .col.s12.m4
            img.imgBaner.imgCarreras.responsive-img(src="{% static 'img/conta.png' %}")
            |             
            h2.center-align.text-color-t Ingenieria en Contaduria
            |             
            p.text-color-p.center-align
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci et voluptate facilis quae tenetur recusandae soluta, voluptas minima optio laudantium laborum iusto atque esse, deleniti ullam praesentium modi aut suscipit.
    // fin de las carreras
    // inicio del footer
    footer.page-footer.green.accent-4
      .container
        .row
          .col.l6.s12
            h5.white-text UT es un univercidad
            |                 
            p.grey-text.text-lighten-4 Donde te brindamos la mejor educacion
          |               
          .col.l4.offset-l2.s12
            h5.white-text Sigenos
            |                 
            ul
              li
                a.grey-text.text-lighten-3(href='#!') Facebook
              |                   
              li
                a.grey-text.text-lighten-3(href='#!') Twitter
      |           
      .footer-copyright
        .container
          | &copy; 2014 Copyright Equipo 3
          a.grey-text.text-lighten-4.right(href='#!') Mas
    // Adjuntando los archivos JS
    script(src="{% static 'js/jquery.min.js' %}")
    |   
    script(src="{% static 'js/materialize.min.js' %}")
    |   
    script.
      $( document ).ready(function(){
      $(".button-collapse").sideNav();
      $('.parallax').parallax();
      $('.modal-trigger').leanModal();
      $('#modal1').closeModal();
      $('.parallax').parallax();
      })
